@import '../../styles/theme.less';

page {
  background-color: #F4F4F5;
}

.header-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-image: url('https://636c-cloud1-2g3w0puta97f2130-1345362468.tcb.qcloud.la/bg.jpeg?sign=d3381bf0a834bc64aa829e734be04a5b&t=1740662788');
  background-position: bottom center;
  background-size: 100%;
  bottom: 0;
  height: 300rpx;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rpx 60rpx;
    color: #fff;
    position: absolute;
    bottom: 0rpx;
    left: 0;
    right: 0;

    .header-left {
      font-size: 60rpx;
      font-weight: 400;
    }
  }
}

.container {
  margin-top: 300rpx;
  padding-bottom: 150rpx;
  background: #fff;


  .card-area {
    height: 400rpx;
    padding: 30rpx;
    .card-item {
      width: 100%;
      height: 100%;
 
    }

  }


  .package-header {
    padding: 0 60rpx;
    color: #000;

    .package-title {
      color: #0E46FF;
      font-size: 40rpx;
      font-weight: 600;
      margin-bottom: 10rpx;
    }

    .package-desc {
      font-size: 30rpx;
      font-weight: 600;

    }
  }

  .product-area {
    padding: 40rpx 40rpx;

    .service-section {
      margin-bottom: 50rpx;

      .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30rpx;

        .title-text {
          padding: 0 20rpx;
          font-size: 40rpx;
          font-weight: 500;
          color: #000;
        }

      }

      .service-list {
        border: 1px solid #d4d4d8;
        background: #FFF;
        border-radius: 16rpx;
        padding: 30rpx;

        .service-item {
          margin-bottom: 25rpx;
          padding-bottom: 25rpx;

          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
          }

          .service-name {
            font-size: 32rpx;
            font-weight: 600;
            color: #000;
            margin-bottom: 8rpx;
          }

          .service-desc {
            font-size: 26rpx;
            font-weight: 400;
            color: #000;
            line-height: 1.5;
          }
        }
      }

      .deductible-list {
        border: 1px solid #d4d4d8;
        background: #FFF;
        border-radius: 16rpx;
        padding: 30rpx;
        display: flex;
        flex-direction: column;
        gap: 30rpx;


        .deductible-category {

          .category-title {
            font-size: 32rpx;
            font-weight: 600;
            color: #000;
          }

          .category-items {
            display: flex;
            flex-direction: column;


            .item {
              color: #333;
              font-weight: 400;
              font-size: 26rpx;
            }
          }
        }
      }
    }

    .purchase-section {
      margin-top: 60rpx;
      padding: 0 20rpx;

      .purchase-btn {
        width: 100%;
        height: 88rpx;
        background: #007aff;
        color: #fff;
        border: none;
        border-radius: 44rpx;
        font-size: 32rpx;
        font-weight: bold;

        &:active {
          background: #0056cc;
        }
      }
    }
  }
}

.contact-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40rpx;
}

.contact-btn {
  width: 100%;
  background-color: @primary-color;
  color: white;
  height: 105rpx;
  background-color: #159A00;
  border-radius: 13rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32rpx;
  font-weight: 500;
}