page {
  background-color: #F5F7F8;
}


.header-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-image: url('https://636c-cloud1-2g3w0puta97f2130-1345362468.tcb.qcloud.la/bg.jpeg?sign=d3381bf0a834bc64aa829e734be04a5b&t=1740662788');
  background-position: bottom center;
  background-size: 100%;
  bottom: 0;
  height: 300rpx;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rpx 60rpx;
    color: #fff;
    position: absolute;
    bottom: 0rpx;
    left: 0;
    right: 0;

    .header-left {
      font-size: 60rpx;
      font-weight: 400;
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 10rpx;

      font-size: 28rpx;

      image {
        width: 31rpx;
        height: 31rpx;
      }

    }
  }
}

.scroll-area {
  margin-top: 300rpx;
}

.container {
  padding-bottom: 200rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30rpx;


  .card {
    padding: 30rpx 60rpx;
    background: #FFFFFF;
    border-radius: 20rpx;
    display: flex;
    flex-direction: column;
    gap: 12rpx;
    .info-item {
      display:grid;
      gap: 10rpx;
      grid-template-columns: repeat(9, 1fr);
      justify-content: space-between;
      align-items: flex-center;
      padding: 20rpx 0;
      border-bottom: 2rpx solid #D4DCDD;

      &:last-child {
        border-bottom: none;
      }

      .label {
        color: #000;
        font-size: 30rpx;
        grid-column: 1 / 4;
      }

      .value {
        color: #000;
        font-size: 30rpx;
        font-weight: 600;
        grid-column: 4 / 10;
      }
    }
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .empty-text {
      font-size: 40rpx;
      color: #333;
      font-weight: 400;
      padding: 179rpx 0 90rpx 0;
    }
    
    .create-btn {
      width: 500rpx;
      height: 105rpx;;
      line-height: 88rpx;
      background: #3827FF;
      color: #fff;
      border-radius: 13rpx;
      font-size: 32rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
    }
  }
}