page {
  background-color: #F5F7F8;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 340rpx;
  background-image: url('https://7a68-zhuomin-1gqebsmr805ac1ca-1257151041.tcb.qcloud.la/bg.jpeg?sign=ccfd8e23b70f3e5f0c347de67a6a23dc&t=1737041224');
  background-size: 100%;
  background-position: bottom center;
  z-index: -1;
}


.container {
  padding-top: 240rpx;
  padding-bottom: 200rpx;
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50rpx;
    color: #fff;

    .header-left {
      font-size: 50rpx;

    }

    .header-right {
      
      font-size: 25rpx;
      image {
        margin-right: 10rpx;
        width: 24rpx;
        height: 24rpx;
      }

    }
  }

  .card {
    margin: 40rpx;
    padding: 40rpx;
    background: #FFFFFF;
    border-radius: 20rpx;
    box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.06);

    &.medical-info {
      margin-top: 20rpx;

      .title {
        font-size: 32rpx;
        font-weight: 500;
        color: #333333;
        margin-bottom: 30rpx;
      }
    }

    .info-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20rpx 0;
      border-bottom: 2rpx solid #F5F7F8;

      &:last-child {
        border-bottom: none;
      }

      .label {
        color: #999999;
        font-size: 28rpx;
      }

      .value {
        color: #333333;
        font-size: 28rpx;
      }
    }
  }
}