page{
  background-color: #F5F7F8;
}
.header-area{
  height: 614rpx;
  background-image: url('https://636c-cloud1-2g3w0puta97f2130-1345362468.tcb.qcloud.la/bg.jpeg?sign=d3381bf0a834bc64aa829e734be04a5b&t=1740662788');
  background-size: 100%;
  background-position: bottom center;
  position: relative;

  .header {
    position: absolute;
    top: 356rpx;
    transform: translateY(-100%);
    left: 0;
    right: 0;
    padding: 0 60rpx;
    font-size: 60rpx;
    color: #fff;
  }
  .schedule-container {
    position: absolute;
    top: 406rpx;
    left: 0;
    right: 0;

    padding: 30rpx; 
    margin:0 30rpx;
    background-color: #3827FF;
    color: #fff;
    border-radius: 32rpx;
    display:flex;
    flex-direction: column;
    gap: 30rpx;
    .top-area{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .top-right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rpx;
        font-size: 26rpx;
        image{
          width: 20rpx;
          height: 20rpx;
        }
      }
    }
  }
}


.container {
  padding-top: 210rpx;
  padding-bottom: 200rpx;
  box-sizing: border-box;
}



.purchased-services {

  padding: 0 60rpx;
  display: flex;
  flex-direction: column;
  gap: 20rpx;
  
  
  .title {
    font-size: 44rpx;
    font-weight:400;
    color: #000;
    border-bottom: 3rpx solid #94A0A1;
    padding: 20rpx 0;
  }
  
  .service-list {
    display: flex;
    flex-direction: column;
    gap: 30rpx;
    .service-item {
      display: flex;
      align-items:flex-start;
      background: #fff;
      border-radius: 12rpx;
      padding: 30rpx;
      gap: 20rpx;
      
      .service-icon {
        flex-shrink: 0;
        width: 180rpx;
        height: 180rpx;
        border-radius: 7rpx;
      }
      
      .service-info {
        display: flex;
        flex-direction: column;
        gap: 10rpx;
        .service-name {
          font-size: 30rpx;
          color: #000;
          line-height: 42rpx;
          font-weight: 600;
        }
        .service-desc {
          font-size: 24rpx;
          color: #000;
        }
      }
    }
  }
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70rpx 0;
}

.empty-text {
  color: #666;
  font-size: 24rpx;
} 

.login-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;

}