.product-info {
  margin: 150rpx 0 100rpx 0;
  padding: 0 20rpx;
  background: #fff;

  .title {
    font-size: 36rpx;
    font-weight: bold;
    margin-bottom: 30rpx;
  }

  .service-section {
    .section-title {
      font-size: 32rpx;
      margin-bottom: 20rpx;
    }

    .service-item {
      .item-title {
        font-size: 30rpx;
        margin-bottom: 20rpx;
      }

      .sub-item {
        margin-bottom: 30rpx;

        .sub-item-title {
          font-size: 28rpx;
          font-weight: 500;
          margin-bottom: 10rpx;
        }

        .frequency {
          display: inline-block;
          background: #6366f1;
          color: #fff;
          padding: 4rpx 16rpx;
          border-radius: 20rpx;
          font-size: 24rpx;
          margin-bottom: 10rpx;
        }

        .description {
          font-size: 26rpx;
          color: #666;
          line-height: 1.5;
          margin-bottom: 10rpx;
        }
      }
    }
  }


}

.price-section {
  position: fixed;
  height: 185rpx;
  bottom: 0;
  left: 0;
  right: 0;
  padding:0 20rpx;
  background: #E6E8E9;
  border-top: 1rpx solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50rpx;

  .total-price {
    margin-bottom: 20rpx;
    background: #fff;
    border-radius: 100rpx;
    height: 70rpx;
    font-size: 24rpx;
    padding: 0 30rpx;
    display: flex;
    justify-content: center;
    align-items: center;

    .price {
      font-size: 35rpx;
      font-weight: bold;
      color: #333;
      margin: 0 10rpx;
    }

    .duration {
      color: #666;
      font-size: 28rpx;
    }
  }

  .contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #159A00;
    color: #fff;
    border-radius: 8rpx;
    font-size: 32rpx;
    font-weight: 500;
    height: 105rpx;
    width: 323rpx;
  }
}