.schedule-item {
  display: flex;
  flex-direction: column;
  padding: 32rpx 24rpx;
  background: #fff;
  border-radius: 16rpx;
  margin-bottom: 20rpx;

  .content{
    font-size: 32rpx;
    color: #000;
    font-weight: 600;
    margin-bottom: 12rpx;
  }

  .time {
    font-size: 28rpx;
    color: #999;
  }

  // 不同类型日程的样式
  &.schedule-coral {
    background: #FFEFE7;
    border-left: 8rpx solid #F6945D;
    ;
  }

  &.schedule-blue {
    background: #D3E4F4;
    border-left: 8rpx solid #3374C7;
  }

  &.schedule-purple {
    background:#EDDFEF;
    border-left: 8rpx solid #821886;
  }
}