@import '../styles/theme.less';
.tab-bar {
  pointer-events: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 132rpx;
  background: #ffffff;
  display: flex;
  justify-content: center;
  gap: 64rpx;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 9999;
  padding: 11rpx 56rpx 0 56rpx;

}

.tabbar-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:top;
  gap: 6rpx;

  &.active {

    .tabbar-text {
      color: #4A3AFF;
    }
  }

  .tabbar-icon {
    width: 56rpx;
    height: 56rpx;
  }

  .tabbar-text {
    font-size: 22rpx;
    color: #999999;
    transition: color 0.3s ease;
  }
} 